@charset "utf-8";
/* CSS Document */
html, body, div, p, h1, h2, h3, h4, blockquote, pre, form, fieldset, ol, ul, li, dl, dd, dt, table, tbody, thead, tfoot, tr, th, td {
	margin:0;padding:0}
body {font:12px/18px "微软雅黑" Tahoma;color:#000; background:#ffd0dd url(../images/htmlbg.jpg) no-repeat center 115px;}
img {border:0}
button {vertical-align:middle;cursor:pointer}
input, img {vertical-align:middle}
input, textarea {font-size:inherit}
ul, ol {list-style:none}
a {color:#000;text-decoration:none}
a:hover {color:#ea0c6a;text-decoration:none}
em {font-style:normal}
fieldset {	border:0}
legend {display:none}
h1, h2, h3, h4, h5, h6 {font-size:14px}
.red {color:#d62e62}
div,p,ul{zoom:1;}
div:after, p:after, ul:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
.iBody {margin:0 auto;width:1000px; clear:both;}
.pb980 {margin:0 auto;width:980px}
.green{ color:#97ff9c}
.green2{ color: #090; font-size:18px; line-height:80px}
.red2{ color:#d62e62; font-size:18px; line-height:80px}
.logo{ float:left; padding:7px 0}
.headright{ float:right; padding:25px 0 0 0; line-height:36px;}
.headright a{ color:#000; margin:0 5px}
.headright a:hover{ color:#000}
.navi{ background:#3f0010; font: bold 15px/52px "微软雅黑" ; height:52px; clear:both}
.navi a{ float:left; background:url(../images/icons.png) no-repeat right -600px; padding:0 20px; color:#fff; line-height:52px;border-right:1px solid #744753}
.navi a:hover,.navi a.cur{ color:#fd4f7f; background:url(../images/navibg1.png) no-repeat center bottom}
.imgnews{ width:1000px; margin:0 auto; padding:18px 0 0 0; height:350px; position: relative}
.conts{ margin-bottom:20px}
h3{ background: url(../images/conttitle.png) no-repeat; padding:15px 0 18px 27px; margin-left:-22px; font-size:30px; color:#fff; line-height:54px; font-family:"微软雅黑"; font-weight: normal; position:relative}
h3 .shaux{ position:absolute; right:50px; top:30px; background:url(../images/sxicon.png) no-repeat right 53%; line-height:54px; padding-right:25px;  font-size:16px; font-weight:normal}
h3 .shaux a{color:#666;}
h3.woxiutitl{background: url(../images/conttitle2.png) no-repeat;}
h3.kougoutitle{background: url(../images/conttitle3.png) no-repeat;}
h3 span{ color:#f1819f; font-size:20px; line-height:40px;}
.cont1,.wxcont,.kugoucont{ background:#ffecf2; padding-bottom:10px;}
.cont1 ul.ljf{ float:left; width:710px}
.cont1 ul.ljf li,.cont1 ul.yy li{margin:0 0 20px 20px;float:left;line-height:24px; position: relative;height:160px;}
.cont1 ul.ljf li .textbg,.cont1 ul.yy li .textbg{ height:27px; top:91px;opacity:0.7;filter:alpha(opacity=70); position:absolute; width:100%; display:block; background:#000; width:100%; z-index:1}
.cont1 ul.ljf li .text,.cont1 ul.yy li .text{ font-family:"微软雅黑"; text-align:right;color:#fff; line-height:27px;top:91px;right:10px;position:absolute; z-index:3}
.cont1 ul.ljf li .pj{ background: url(../images/spr.png) no-repeat left; height:15px; left:2px; top:92px; width:70px; z-index:2; padding:6px;position:absolute}
li .heart{position:absolute; z-index:3;top:101px; left:10px; width:16px; height:15px; background:url(../images/icon2.png) no-repeat; display:block}
.cont1 ul.ljf li img{ margin-bottom:3px;}

/*排行榜*/
.toplist{ float:right;width:278px; height:466px; overflow:hidden}
.toplist .menu{ line-height:38px; background:#3f0010; color:#ff5d88; text-indent:0.8pc; font-size:14px;}
.toplist .menu span{ float:right; color:#fff; font-size:12px;}
.toplist .menu span a{padding-right:10px;display: inline-block; color:#fff; font-weight:normal;text-indent:0pc;}
.toplist ul{ padding:5px 0; color:#000; display:none; font-size:14px}
.toplist ul li span{ display: inline-block; float:left;width:15px; height:16px; font:normal 12px/16px Arial; color:#fff; margin:12px 10px 3px 16px; text-align:center}
.toplist .menu span a.cur{ background:url(../images/icon1.jpg) no-repeat 5px bottom;}
.NO_bg1{ background:#ee6c8f}
.NO_bg2{ background:#000}
.toplist ul li{ clear:both; position:relative}
.toplist ul li a{ float:left; line-height:40px;}
.toplist ul li img{ float:left;margin:12px 10px 0 0;width:60px; height:60px;  border:1px solid #000;display:none}
.toplist ul li em{ position:absolute; right:50px; display:block; width:30px; line-height:30px; top:10px; height:20px;}
.toplist ul li.cur em{ left:110px; top:38px;}
.toplist ul li em img{ width:auto; height:auto; border:none; display:block}
.toplist ul li.cur img{ display:block}
/*YY*/
.cont1 ul.yy{ float:left; width:370px}
.cont1 ul.yy li{ width:164px;}
.cont1 ul.yy li .textbg,.cont1 ul.yy li .text,.cont1 ul.yy li .heart{ top:96px;}
.cont1 ul.yy2{ float:right;width:614px;}
.cont1 ul.yy2 li{ position:relative; padding-right:20px; float:left; width:287px; line-height:35px;overflow:hidden;}
.cont1 ul.yy li img{margin-bottom:5px}
.cont1 ul.yy2 li .textbg2{
	width:287px;
	height:216px;
	opacity:0.4;
	filter:alpha(opacity=40);
	position:absolute;
	display:block;
	background:#000;
	z-index:1;
	top:0;
	left:0;display: none
}
.cont1 ul.yy2 li .text{ float:right; color:#ea0c6a; vertical-align:middle}
.cont1 ul.yy2 li .imgplay{position:absolute;width:287px;
	height:216px;top:0px;overflow:hidden; left:100px; padding-top:20%; z-index:22}
.cont1 ul.yy2 li .imgplay a{display:block; height:216px}
.wxcont li{ float:left;width:173px;  margin:0 0 10px 22px;  line-height:23px; position:relative}
.wxcont li div{padding:9px; background:#f4b1c6; display:block}
.wxcont li img{width:153px; height:115px;}
.wxcont li a img{ border:1px solid #fff}
.wxcont li a:hover img{ border:1px solid #ea0c6a}
.wxcont li .textbg{ height:27px; top:98px;opacity:0.7;filter:alpha(opacity=70); position:absolute; display:block; background:#000; z-index:1; width:153px; margin:0 10px}
.wxcont li .text{ font-family:"微软雅黑"; text-align:right;color:#fff; line-height:27px;top:98px;right:15px;position:absolute; z-index:3; }
.wxcont li .text img{ width:13px; height:11px;}
.kugoucont li{ float:left;width:172px;margin:0 0 10px 22px;  line-height:30px; position:relative;padding:3px; background:#f4b1c6; display:block; margin:0 0 20px 20px; overflow:hidden}
.kugoucont .textbg2{
width:172px;	height:96px;
	opacity:0.4;
	filter:alpha(opacity=40);
	position:absolute;
	display:block;
	background:#000;
	z-index:1;
	top:3px;
	left:3px;
}
.kugoucont .imgplay{position:absolute;width:172px;
	height:96px;top:0px;overflow:hidden; left:60px; padding-top:15%; z-index:22}
.kugoucont .imgplay a{display:block; height:216px}
#list{position:absolute;display:inline; margin-left:-20px;}
#list ul {margin:0px;padding:0px; float:left;}
#list li{width:100px;position:absolute;list-style-type:none;overflow:hidden;cursor:pointer;}
#list li img{width:100%;height:100%;vertical-align:top;}
#list li .b_tit{width:100%;height:120px;position:absolute; z-index:1; bottom:-100%; left:0px;margin:0px;padding:0px;}
#list li .tit{width:324px;height:120px;padding:0 10px;position:absolute; z-index:2; bottom:0px; left:0px;}
#list li .tit span{width:100%;height:30px;font-weight:normal;float:left;text-align:left;line-height:30px;color:#fff;border-bottom:1px solid #2f2f2c;margin:0px;padding:0px;}
#list li .tit span em{color:#ba0707;font-style:normal;float:none;}
#list li .tit em{color:#fff;line-height:25px;float:left;margin:0px;padding:5px 0;font-style:normal;}
#list span.prev,#list span.next{width:45px;height:80px;background:url(../images/btn.png) no-repeat;text-decoration:none;position:absolute;z-index:20;top:120px;}
#list span.prev{background-position:0 0; left:170px;}
#list span.next{background-position:-45px 0; right:-890px;}
/*弹窗登录*/
.but1{width:60px; height:30px; text-align:center; color:#fff; font-size:12px; border:none; line-height:24px; margin-top:3px; display:inline-block; margin-right:8px;}
.but1{ background:url(../images/log-but.png) no-repeat;}
.msg2{ line-height:21px;}
.close{ position:absolute; right:-35px; top:-1px; display:block; width:34px; height:30px; background:url(../images/loginicon.png) no-repeat 0 0; cursor:pointer}
.butmar1{ margin:40px 0 20px 260px;}
.butmar2{ padding:0  0 15px 62px; margin-top:10px; position:relative}
.butmar3{ margin:10px 0 20px 66px;}
.butmar2 a{
	position:absolute;
	right:18px;
	top:-2px;
	color:#d62e62
}
.window{ font-family:"微软雅黑";width:300px;border:1px solid #e6e6e6; background:#fff; margin:0 auto}
.window .tit5{ position:relative}
.window .tit5 span{ width:148px; line-height:40px; float:left; color:#000; background:#f9f9f9; text-align:center; font-size:14px;border-right:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6; cursor:pointer}
.window .tit5 .cur1{ width:150px; color:#d62e62; border:none; background:none}
.from{ padding:30px 30px 05px; line-height:40px;}
.from p{ position:relative}
.from label{ display:inline-block; width:63px; text-align:right;}
.from2 label{ width:63px;}
.from2 .input2{ width:160px;}
.input2{ background:url(../images/loginicon.png) repeat-x 0 -100px; width:160px; padding:6px 5px; border:1px solid #ccc}
.input2:hover,.input3:hover{ border:1px solid  #ec346c}
.input3{ background:url(../images/loginicon.png) repeat-x 0 -100px; width:50px; padding:6px 5px;border:1px solid #ccc}
.from p .jpicon{ position:absolute; right:16px; top:14px; display:inline-block; width:20px; height:20px; background:url(../images/loginicon.png) no-repeat 0 -150px;}
.msg2{ line-height:21px}
.close{ position:absolute; right:-35px; top:-1px; display:block; width:34px; height:30px; background:url(../images/loginicon.png) no-repeat 0 0; cursor:pointer}
.loginbg{ padding:20px 280px 20px 300px; width:330px; margin:0 auto; height:250px; background:url(../images/loginbg.png) no-repeat}
.reg{ margin-right:70px; text-align:right; line-height:30px;}
.loginbg .from { padding:0;}
.loginbg .from .input2{ width:196px; padding:4px 8px 4px 5px}
.loginbg .from p{ position:relative; line-height:37px;}
.loginbg .from label{width:63px;}
.msg3{ background:url(../images/loginicon2.png) no-repeat 0 16px; line-height:20px; padding-left:19px; position:absolute; right:-235px; top:-1px; width:256px} 
.msg4{ background:url(../images/loginicon2.png) no-repeat0 -78px; line-height:21px; padding-left:19px; position:absolute; right:-235px; top:10px; width:256px} 
#blackbg{ display: none; position: absolute; z-index: 1000; height: 100%; width: 100%; opacity:0.7;filter:alpha(opacity=70);	left:0;	background:#000;}
#windowbg{display: none; position: absolute; height: 100%; width: 100%; padding-top: 20%; z-index: 1001; left: 0px; top: 0px;
}
.f12{ font-size:12px}
.navi img{ margin-top:-13px; margin-left:3px;}
.but2{ cursor:pointer}
.footer{ clear:both;  background:#e5e5e5;color:#888; line-height:21px; padding:30px 0;width:1000px; margin:0 auto; height:80px}
.footer .logo{ float:left; border-right:1px solid #e7e7e7; margin-right:20px; padding:5px 20px 0 0 ; height:70px;}
.footer p{ float:left; }
/*主播*/
.zhub{ background:#ffeef4; padding:0 15px 20px 15px}
.zhub li { float:left; line-height:25px; text-align:center; padding:0 7px;}
.zhub li img{ width:107px; height:87px; display:block}
.cont1 ul.ljf2 li{margin:0 0 20px 36px;float:left;line-height:24px; position: relative}
.ljf2{ border-top:4px solid #3f0010;}
.ljf2 h4{ line-height:40px; font-size:20px; font-family:"微软雅黑";padding-left:35px; color:#ea0c6a; background:#ffb2ca; margin-bottom:30px}
#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16,#a17,#a18,#a19,#a20,#a21,#a22,#a23{ display:block; width:35px; height:16px; background:url(http://vr0.6.cn/imges/live/level/userLevel_v31.png) no-repeat;}
#a1{ background-position:0 0}
#a2{background-position: -50px 0}
#a3{background-position: -100px 0}
#a4{background-position: -150px 0}
#a5{ background-position:-200px 0}
#a6{ background-position:-250px 0}
#a7{background-position: -300px 0}
#a8{background-position: -350px 0}
#a9{background-position: -400px 0}
#a10{background-position: -450px 0}
#a11{background-position: -500px 0}
#a12{background-position:-550px 0}
#a13{background-position: -600px 0}
#a14{background-position: -650px 0}
#a15{background-position: -700px 0}
#a16{background-position: -750px 0}
#a17{background-position: -800px 0}
#a18{background-position: -850px 0}
#a19{background-position: -900px 0}
#a20{background-position: -950px 0}
#a21{background-position: -1100px 0}
#a22{background-position: -1150px 0}
#a23{background-position: -1200px 0}
