<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userActiveInfo">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,sid,ip,time,guid
	</sql>
	<!--resultType="User" 每返回一条结果封装到User里 -->
	
	<!-- 增加用户 -->
	<insert id="addUserLogin" parameterType="UserActiveInfo">
		insert into u_user_active_login(sid,ip,time,guid)
		values (#{sid},
		#{ip},
		#{time}, #{guid}
		)
	</insert>
	<!-- 增加用户 -->
	<insert id="addUserLogout" parameterType="UserActiveInfo">
		insert into u_user_active_logout(sid,ip,time,guid)
		values (#{sid},
		#{ip},
		#{time}, #{guid}
		)
	</insert>

	
</mapper>