<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Course">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,name,detail,category,videoUrl,imgUrl,scount,city,tag,tid,begin,end,createdAt,changedAt,createdBy,liked
	</sql>
	<!-- 增加用户 -->
	<insert id="add" parameterType="Course">
		insert into c_course(name,detail,videoUrl,imgUrl,scount,city,category,tag,tid,begin,end,createdAt,changedAt,status,createdBy,liked)
		values 
		(
		#{name},
		#{detail},
		#{videoUrl},
		#{imgUrl},
		#{scount},
		#{city},
		#{category},
		#{tag},
		#{tid},
		#{begin},
		#{end},
		null,
		 #{changedAt},
		 #{status},
		 #{createdBy},
		 #{liked}
		)
	</insert>
	
	<update id="update"  parameterType="Course">
	    update c_course 
	    <set>
			<if test="detail != null and detail != ''">
				detail=#{detail},
			</if>
			<if test="videoUrl != null and videoUrl != ''">
				videoUrl=#{videoUrl},
			</if>
			<if test="imgUrl != null and imgUrl != ''">
				imgUrl=#{imgUrl},
			</if>
			<if test="scount != null and scount != ''">
				scount=#{scount},
			</if>
			<if test="userid != null and userid != ''">
				city=#{city},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="queryByC" resultType="Course" parameterType="java.util.Map">
		select
		<include refid="selectId" />
		from c_course order by createdAt desc
		<if test="count != null and count != '' ">
		    limit #{count}
		</if> 
	</select>
	
	<select  id="getById" resultType="Course"  parameterType="int">
	    select 
		<include refid="selectId" />
		from c_course t 
		<if test="_parameter!=null">
		    <where>
		        t.id = #{_parameter}
		    </where>
		</if>
	</select>
	
	<!-- 分页查询 -->
	<select  id="pageQuery" resultType="Course"  parameterType="java.util.Map">
	   select 
		<include refid="selectId" />
		 from c_course where id>=(select id from c_course
		 <where>
		 	1=1
		 	<if test="t.status != -1">
		 		and status = #{t.status}
		 	</if>
		 </where>
		  limit #{page.startPage},1) limit #{page.pageSize};
	</select>
	
	<update id="liked"   parameterType="int"   >
			update c_course set liked = liked +1 
			<if test="_parameter!=null">
		    <where>
		        id = #{_parameter}
		    </where>
		</if>
	</update>
	
	<select  id="getCount" resultType="int"  parameterType="Course">
	    select 
		 count(*)
		from c_course t 
		    <where>
		        	1=1 
				<if test="category != null">
		        	and t.category = #{category}
				</if>
				<if test="status != null">
		        	and t.status = #{status}
				</if>
		    </where>
	</select>
</mapper>
	