<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,type,userkey,orderid,state,price,createdAt,guid,changedAt,userid,guid,source
	</sql>
	<select id="query" resultType="Order" parameterType="long">
		select
		<include refid="selectId" />
		from o_order t
		<where>
			<if test="id != null and id  != ''">
				id=#{id} 
				</if>
		</where>
	</select>
	
	<select id="getById" parameterType="long" resultType="Order">
		select
		<include refid="selectId" />
		from o_order where id=#{id}
	</select>
	
	<select id="getByUserkey" parameterType="java.lang.String" resultType="Order">
		select
		<include refid="selectId" />
		from o_order where userkey=#{userkey}
	</select>
	
	<select id="getByOrderid" parameterType="java.util.HashMap" resultType="Order" >
		select
		<include refid="selectId" />
		from o_order t 
		<where>
		1=1 
			<if test="orderid != null and orderid  != ''">
				and orderid=#{orderid} 
				</if>
			<if test="source != null and source  != ''">
				and source=#{source} 
			</if>
		</where>
	</select>
	
	<select id="getByDate" resultType="Order" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from o_order t 
		<where>
			1=1 
			<if test="startDate != null and startDate  != ''">
			 	<![CDATA[ and  t.createdAt>str_to_date(#{startDate},'%Y-%m-%d %H:%i:%s') ]]> 	
			</if>
			<if test="endtDate != null and endtDate  != ''">
				<![CDATA[ and t.createdAt<str_to_date(#{endtDate},'%Y-%m-%d %H:%i:%s') ]]> 	
			</if>
		</where>
	</select>
	
	<!-- 总记录数 -->
	<select id="count" parameterType="Order" resultType="int">
		select count(0) from o_order
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="Order">
		insert into o_order(type,orderid,state,price,createdAt,changedAt,userid,userkey,guid,source)
		values (#{type},
		#{orderid},#{state},
		#{price}, null,
		#{changedAt},
		#{userid},
		#{userkey},
		#{guid}, #{source}
		)
	</insert>

	<delete id="deleteById" parameterType="long">
		delete from o_order where
		id=#{id}
	</delete>
	
	<update id="update" parameterType="Order">
		update o_order
		<set>
			<if test="type != null and type != ''">
				source=#{type},
			</if>
			<if test="state != null and state != ''">
				state=#{state},
			</if>
			<if test="price != null and price != ''">
				price=#{price},
			</if>
			<if test="changedAt != null and changedAt != ''">
				changedAt=#{changedAt},
			</if>
			<if test="userid != null and userid != ''">
				userSex=#{userid},
			</if>
			<if test="guid != null and guid != ''">
				guid=#{guid},
			</if>
			<if test="source != null and source != ''">
				source=#{source}
			</if>
			
		</set>
		where orderid=#{orderid}
	</update>
	
	<update id="updateState" parameterType="String">
		update o_order
		<set>
			<if test="state != null and state != ''">
				state=#{state},
			</if>
			changedAt = #{changedAt}
		</set>
		where orderid=#{orderid}
	</update>
	
	<update id="updateType" parameterType="String">
		update o_order
		<set>
			<if test="type != null and type != ''">
				type=#{type},
			</if>
			changedAt = #{changedAt}
		</set>
		where orderid=#{orderid}
	</update>
</mapper>