<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,name,status,attribute,createdAt,vendorid,imgurl
	</sql>
	<!-- 增加用户 -->
	<insert id="add" parameterType="Product">
		insert into p_product(name,status,attribute,createdAt,imgurl,vendorid)
		values 
		(
		 #{name},
		 #{status},
		 #{attribute},
		 #{createdAt},
		 #{imgurl},
		 #{vendorid}
		)
	</insert>
	
	<update id="update"  parameterType="Product">
	    update p_product 
	    <set>
	        <if test="name != null and name != ''">
				name=#{name}
			</if>
			<if test="detail != null and detail != ''">
				status=#{status}
			</if>
			<if test="attribute != null and attribute != ''">
				attribute=#{attribute}
			</if>
			<if test="imgurl != null and imgurl != ''">
				imgurl=#{imgurl}
			</if>
			<if test="vendorid != null and vendorid != ''">
				vendorid=#{vendorid}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="queryByC" resultType="product" parameterType="int">
		select
		<include refid="selectId" />
		from p_product order by createdAt desc
		<if test="_parameter!=null ">
		    limit #{_parameter}
		</if> 
	</select>
	
	<select  id="getById" resultType="Product"  parameterType="int">
	    select 
		<include refid="selectId" />
		from p_product t 
		<if test="_parameter!=null">
		    <where>
		        t.id = #{_parameter}
		    </where>
		</if>
	</select>
	
	<!-- 分页查询 -->
	<!-- 默认查询报名中 和已经结束的课程  -->
	<select  id="pageQuery" resultType="Product"  parameterType="java.util.Map">
	   select 
		<include refid="selectId" />
		 from p_product 
		 <where>
		 	1=1
		 	<if test="t.status == -1 ">
		 		and status in (0,1)
		 	</if>
		 	<if test="t.status != -1">
		 	    and status = #{status}
		 	</if>
		 </where>
	</select>
	
	
	
	

</mapper>
	