<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pvuv">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,pv,uv,createdAt,changedAt,date
	</sql>
	<select id="query" resultType="PvUv" parameterType="long">
		select
		<include refid="selectId" />
		from s_statistics_pvuv t
		<where>
			<if test="t.id != null and t.id  != ''">
				id=#{id} 
				</if>
		</where>
	</select>
	
	
	
	<select id="getByDate" resultType="PvUv" parameterType="int">
		select
		<include refid="selectId" />
		from s_statistics_pvuv t
		<where>
			<if test="date != null and date  != ''">
			 	date = #{date}
			</if>
		</where>
	</select>
	
	<!-- 增加 -->
	<insert id="add" parameterType="PvUv">
		insert into s_statistics_pvuv(pv,uv,createdAt,changedAt,date)
		values (#{pv},
		#{uv},
		#{createdAt},
		#{changedAt}
		)
	</insert>

	
</mapper>