<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Teacher">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,name,sex,age,sex,zone,tag,detail,imgUrl,createdAt,changedAt
	</sql>
	<!-- 增加用户 -->
	<insert id="add" parameterType="Teacher">
		insert into t_teacher(name,sex,age,zone,tag,detail,imgUrl,createdAt,changedAt)
		values 
		(
		#{name},
		#{sex},
		#{age},
		#{zone}, 
		#{tag},
		#{detail},
		#{imgUrl},
		null,
		 #{changedAt}
		)
	</insert>
	
	<select id="queryByC" resultType="Teacher" parameterType="java.util.Map">
		select
		<include refid="selectId" />
		from t_teacher order by createdAt desc
		<if test="count != null and count != '' ">
		    limit #{count}
		</if> 
	</select>
	
	
</mapper>
	